Repository air-hand/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-system, make_test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint-system
        args: ["--config-file", ".github/linters/actionlint.yml"]
  - repo: https://github.com/mrtazz/checkmake
    rev: 0.2.2
    hooks:
      - id: checkmake-system
        exclude: mkfiles/.*
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 2.7.3
    hooks:
      - id: editorconfig-checker-system
        alias: ec
  - repo: local
    hooks:
      - id: yamllint-system
        name: "YAML lint"
        language: python
        entry: yamllint
        args: ["--config-file", ".github/linters/.yaml-lint.yml"]
        types: [file, yaml]
      - id: make_lint
        name: "Make lint"
        language: system
        entry: make lint
        pass_filenames: false
      - id: make_test
        name: "Make test"
        language: system
        entry: make test
        files: '^.*/.*\.sh$'
        pass_filenames: false

chore: specify cooldown dependabot
  .github/dependabot.yml
Due: yamllint-system

chore: exclude cooldown some actions.
  .github/dependabot.yml
Due: yamllint-system

chore: add grpcurl
  dot_config/aquaproj-aqua/aqua.yaml
Due: yamllint-system

chore: add grpcurl (#2579)
  dot_config/aquaproj-aqua/aqua.yaml
Due: yamllint-system

main.yaml の更新
  .github/workflows/main.yaml
Due: yamllint-system

fix: treat cancelled main (reusable workflow) as failure in check-result (#2582)
  .github/workflows/main.yaml
Due: yamllint-system

chore: auto-prune unused tool versions managed by mise.
  run_once_after_install_cli.sh.tmpl
Due: none

chore: use gh from PATH for git credentials
  dot_gitconfig.tmpl
Due: none

feat(wsl2): centralize Windows bin path management
  .chezmoitemplates/host.toml.tmpl
  dot_bash_common_env.tmpl
  run_once_setup_wsl2.sh.tmpl
Due: none

fix: use glob pattern for PATH checks
  dot_bash_common_env.tmpl
Due: none

chore: WSL2 and tooling improvements (#2588)
  .chezmoitemplates/host.toml.tmpl
  dot_bash_common_env.tmpl
  dot_gitconfig.tmpl
  run_once_after_install_cli.sh.tmpl
  run_once_setup_wsl2.sh.tmpl
Due: none

fix: improve workflow concurrency control to protect IAC apply
  .github/workflows/_ci.yaml
  .github/workflows/_main.yaml
Due: yamllint-system

fix: improve workflow concurrency control to protect IAC apply (#2589)
  .github/workflows/_ci.yaml
  .github/workflows/_main.yaml
Due: yamllint-system

aqua.yaml の更新
  dot_config/aquaproj-aqua/aqua.yaml
Due: yamllint-system

config-global.toml の更新
  dot_config/mise/config-global.toml
Due: none

.mise.toml の更新
  .mise.toml
Due: none

aqua.yaml の更新
  aqua.yaml
Due: yamllint-system

setup.mk の更新
  mkfiles/setup.mk
Due: none

chore: install uv by aqua (#2631)
  .mise.toml
  aqua.yaml
  dot_config/aquaproj-aqua/aqua.yaml
  dot_config/mise/config-global.toml
  mkfiles/setup.mk
Due: yamllint-system

Revert "chore: install uv by aqua (#2631)"
  .mise.toml
  aqua.yaml
  dot_config/aquaproj-aqua/aqua.yaml
  dot_config/mise/config-global.toml
  mkfiles/setup.mk
Due: yamllint-system

Revert "chore: install uv by aqua (#2631)" (#2639)
  .mise.toml
  aqua.yaml
  dot_config/aquaproj-aqua/aqua.yaml
  dot_config/mise/config-global.toml
  mkfiles/setup.mk
Due: yamllint-system

Revert "Revert "chore: install uv by aqua (#2631)" (#2639)"
  .mise.toml
  aqua.yaml
  dot_config/aquaproj-aqua/aqua.yaml
  dot_config/mise/config-global.toml
  mkfiles/setup.mk
Due: yamllint-system

chore(deps): install uv without cargo backend (#2641)
  dot_config/mise/config-global.toml
Due: none

chore: use ubi backend for uv.
  .mise.toml
  dot_config/mise/config-global.toml
Due: none

chore: use ubi backend for uv. (#2644)
  .mise.toml
  dot_config/mise/config-global.toml
Due: none

chore(deps): upgrade jdx/mise to v2025.12.5
  aqua.yaml
  dot_config/aquaproj-aqua/aqua.yaml
Due: yamllint-system

chore: migrate from uv to pipx for tool management
  .mise.toml
  pyproject.toml
  uv.lock
Due: none

chore: remove uv sync from setup.mk
  mkfiles/setup.mk
Due: none

chore: migrate from uv to pipx for tool management (#2692)
  .mise.toml
  mkfiles/setup.mk
  pyproject.toml
  uv.lock
Due: none

Add dagger/dagger to global aqua configuration (#2694)
  dot_config/aquaproj-aqua/aqua.yaml
Due: yamllint-system

chore(deps): add k3d
  dot_config/aquaproj-aqua/aqua.yaml
Due: yamllint-system

chore(deps): add k3d (#2703)
  dot_config/aquaproj-aqua/aqua.yaml
Due: yamllint-system

chore: run setup by make all
  Makefile
Due: none

chore: run yamllint as system
  .pre-commit-config.yaml
Due: yamllint-system

chore(deps): install uv by default backend.
  .github/actions/mise-hook-env/export.sh
  .github/actions/run-install/action.yaml
  .mise.toml
  dot_config/mise/config-global.toml
  run_once_after_install_cli.sh.tmpl
  run_once_install-packages.sh.tmpl
  spec/test_gha_mise-hook-env_spec.sh
Due: yamllint-system, make_test

chore/mise replace ubi backend (#2733)
  .github/actions/mise-hook-env/export.sh
  .github/actions/run-install/action.yaml
  .mise.toml
  .pre-commit-config.yaml
  Makefile
  dot_config/mise/config-global.toml
  run_once_after_install_cli.sh.tmpl
  run_once_install-packages.sh.tmpl
  spec/test_gha_mise-hook-env_spec.sh
Due: yamllint-system, make_test

.chezmoi.toml.tmpl の更新
  .chezmoi.toml.tmpl
Due: none

dot_bash_common_env.tmpl の更新
  dot_bash_common_env.tmpl
Due: none
