Repository air-hand/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-system, make_test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint-system
        args: ["--config-file", ".github/linters/actionlint.yml"]
  - repo: https://github.com/mrtazz/checkmake
    rev: 0.2.2
    hooks:
      - id: checkmake-system
        exclude: mkfiles/.*
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 2.7.3
    hooks:
      - id: editorconfig-checker-system
        alias: ec
  - repo: local
    hooks:
      - id: yamllint-system
        name: "YAML lint"
        language: python
        entry: yamllint
        args: ["--config-file", ".github/linters/.yaml-lint.yml"]
        types: [file, yaml]
      - id: make_lint
        name: "Make lint"
        language: system
        entry: make lint
        pass_filenames: false
      - id: make_test
        name: "Make test"
        language: system
        entry: make test
        files: '^.*/.*\.sh$'
        pass_filenames: false

fix: avoid github API rate limit
  .github/workflows/_ci.yaml
Due: yamllint-system

fixup
  .github/workflows/_main.yaml
Due: yamllint-system

fixup
  .github/workflows/_ci.yaml
Due: yamllint-system

chore: create or edit super linter comment (#3539)
  .github/workflows/_ci.yaml
  .github/workflows/_main.yaml
  .github/workflows/main.yaml
Due: yamllint-system

chore: ignore pycache
  dot_config/git/ignore
Due: none

chore: ignore pycache (#3546)
  dot_config/git/ignore
Due: none

chore: vacuum aqua to save disk space
  run_once_after_install_cli.sh.tmpl
Due: none

chore: vacuum aqua to save disk space (#3548)
  run_once_after_install_cli.sh.tmpl
Due: none

chore: use renovate validator action instead of renovate command
  .github/workflows/_ci.yaml
Due: yamllint-system

fix: remove renovate
  dot_config/mise/config-global.toml
Due: none

fix
  .github/workflows/_ci.yaml
Due: yamllint-system

fix: remove renovate (#3592)
  .github/workflows/_ci.yaml
  dot_config/mise/config-global.toml
Due: yamllint-system

chore: remove renovate cli
  Makefile
Due: none

chore: remove renovate cli (#3595)
  Makefile
Due: none

fix: activate mise after conda
  dot_bashrc.tmpl
Due: none

fix: activate mise after conda (#3607)
  dot_bashrc.tmpl
Due: none

fix: avoid exporting PS1 for zed terminal
  dot_bash_completion.tmpl
Due: none

fix: avoid exporting PS1 for zed terminal (#3614)
  dot_bash_completion.tmpl
Due: none

fix: avoid sourcing conda during install
  run_once_install-conda.sh.tmpl
Due: none

fix: avoid sourcing conda during install (#3617)
  run_once_install-conda.sh.tmpl
Due: none

feat: add GitHub PR auto-merge skill
  .editorconfig
  dot_bash_common_env.tmpl
  dot_codex/skills/gh-pr-auto-merge/SKILL.md
  dot_codex/skills/gh-pr-auto-merge/agents/openai.yaml
Due: yamllint-system

feat: add GitHub PR auto-merge skill (#3619)
  .editorconfig
  dot_bash_common_env.tmpl
  dot_codex/skills/gh-pr-auto-merge/SKILL.md
  dot_codex/skills/gh-pr-auto-merge/agents/openai.yaml
Due: yamllint-system

feat: add default Go packages
  dot_default-go-packages
Due: none

fix: stop uninstalling aqua with brew
  run_once_after_install_cli.sh.tmpl
Due: none

feat: add default Go packages (#3646)
  dot_default-go-packages
  run_once_after_install_cli.sh.tmpl
Due: none

feat: add zellij configuration
  dot_config/mise/config-global.toml
  dot_config/zellij/config.kdl
Due: none

feat: add zellij configuration (#3657)
  dot_config/mise/config-global.toml
  dot_config/zellij/config.kdl
Due: none

feat: configure local codex profile
  .chezmoi.toml.tmpl
  .chezmoitemplates/local_llm.toml.tmpl
  dot_bash_aliases.tmpl
  run_onchange_after_codex_config.py.tmpl
Due: none

fix: exclude python templates from super-linter
  .superlinterenv
Due: none

fix: exclude chezmoi templates from super-linter
  .superlinterenv
Due: none

wip: move codex config updater to chezmoiscripts
  .chezmoiscripts/run_onchange_after_zz_codex_config.sh.tmpl
  .gitignore
  run_onchange_after_codex_config.py.tmpl
Due: none

feat: configure local codex profile (#3724)
  .chezmoi.toml.tmpl
  .chezmoiscripts/run_onchange_after_zz_codex_config.sh.tmpl
  .chezmoitemplates/local_llm.toml.tmpl
  .gitignore
  .superlinterenv
  dot_bash_aliases.tmpl
Due: none

feat: install mise without aqua
  .chezmoi.toml.tmpl
  .chezmoiscripts/run_onchange_after_zz_codex_config.py.tmpl
  aqua.yaml
  dot_bash_common_env.tmpl
  dot_bash_completion.tmpl
  dot_bashrc.tmpl
  dot_config/aquaproj-aqua/aqua.yaml
  dot_profile.tmpl
  run_once_before_install-conda.sh.tmpl
  run_once_before_install-packages.sh.tmpl
  run_onchange_install_cli.sh.tmpl
Due: yamllint-system

feat: install mise without aqua (#3743)
  .chezmoi.toml.tmpl
  .chezmoiscripts/run_onchange_after_zz_codex_config.py.tmpl
  aqua.yaml
  dot_bash_common_env.tmpl
  dot_bash_completion.tmpl
  dot_bashrc.tmpl
  dot_config/aquaproj-aqua/aqua.yaml
  dot_profile.tmpl
  run_once_before_install-conda.sh.tmpl
  run_once_before_install-packages.sh.tmpl
  run_onchange_install_cli.sh.tmpl
Due: yamllint-system

fix: fix unsupported codex config
  .chezmoiscripts/run_onchange_after_zz_codex_config.py.tmpl
Due: none

fix: fix unsupported codex config (#3791)
  .chezmoiscripts/run_onchange_after_zz_codex_config.py.tmpl
Due: none

fix: remove devpod from completion
  dot_bash_completion.tmpl
Due: none

fix: remove devpod from completion (#3806)
  dot_bash_completion.tmpl
Due: none

fix: speed up bash startup
  .chezmoiscripts/run_onchange_after_generate_bash_completion_cache.sh.tmpl
  .chezmoiscripts/run_onchange_after_setup_repo.sh.tmpl
  Makefile
  dot_bash_completion.tmpl
  dot_bashrc.tmpl
  dot_config/mise/config-global.toml
  dot_local/bin/executable_generate-bash-completion-cache.sh
  mkfiles/setup.mk
Due: make_test
