Repository air-hand/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-system, make_test

yamllint-system:
  name: YAML lint
  language: python
  entry: yamllint
  args:
  - --config-file
  - .github/linters/.yaml-lint.yml

make_test:
  name: Make test
  language: system
  entry: make test
  pass_filenames: false

.chezmoi.toml.tmpl の更新
  .chezmoi.toml.tmpl
Due: none

disable cosign (#2746)
  .chezmoi.toml.tmpl
  dot_bash_common_env.tmpl
Due: none

fix!: disable markitdown(onnxruntime) cause not supported by python 3.14
  dot_config/mise/config-global.toml
Due: none

fix!: disable markitdown(onnxruntime) cause not supported by python 3.14 (#2848)
  dot_config/mise/config-global.toml
Due: none

fix: resolve GitHub auth conflict in IAC workflow
  .github/workflows/_iac.yaml
  mkfiles/lint.mk
  terraform/shared/provider.tf
Due: yamllint-system

fix: use TG_TF_PATH instead of deprecated TERRAGRUNT_TFPATH
  .github/workflows/_iac.yaml
Due: yamllint-system

refactor: simplify tfwrapper.sh to use terraform directly
  .github/scripts/tfwrapper.sh
Due: make_test

fix: reduce job permissions to contents: read (using GitHub App token)
  .github/workflows/_iac.yaml
Due: yamllint-system

debug: add tfcmt log-level debug
  .github/scripts/tfwrapper.sh
Due: make_test

fix: disable tfcmt label to avoid permission error
  .github/workflows/_iac.yaml
Due: yamllint-system

debug: add shell debug output (set -x)
  .github/scripts/tfwrapper.sh
Due: make_test

debug: remove set -x to avoid stderr noise
  .github/scripts/tfwrapper.sh
Due: make_test

debug: log tfcmt exit code
  .github/scripts/tfwrapper.sh
Due: make_test

chore: clean up tfwrapper.sh debug code, add TODO comment
  .github/scripts/tfwrapper.sh
Due: make_test

fix: resolve GitHub auth conflict in IAC workflow (#2901)
  .github/scripts/tfwrapper.sh
  .github/workflows/_iac.yaml
  mkfiles/lint.mk
  terraform/shared/provider.tf
  terraform/shared/version.tf
Due: yamllint-system, make_test

feat: add Claude Code skills management with chezmoi
  .editorconfig
  CLAUDE.md
  README.md
  dot_claude/skills/codex/SKILL.md
  run_onchange_after_wsl_claude_skills.sh.tmpl
Due: none

fix: resolve linter errors
  .superlinterenv
  CLAUDE.md
  README.md
  dot_claude/skills/codex/SKILL.md
Due: none

feat: add Claude Code skills management with chezmoi (#2909)
  .editorconfig
  .superlinterenv
  CLAUDE.md
  README.md
  dot_claude/skills/codex/SKILL.md
  run_onchange_after_wsl_claude_skills.sh.tmpl
Due: none

chore: switch claude-code from mise to native install
  dot_config/mise/config-global.toml
  run_once_after_install_cli.sh.tmpl
Due: none

chore: switch claude-code from mise to native install (#2919)
  dot_config/mise/config-global.toml
  run_once_after_install_cli.sh.tmpl
Due: none

chore: extend GPG agent cache TTL from 8 hours to 1 week
  private_dot_gnupg/gpg-agent.conf
Due: none

chore: extend GPG agent cache TTL from 8 hours to 1 week (#2920)
  private_dot_gnupg/gpg-agent.conf
Due: none

chore(deps): use latest version for copilot and codex CLI
  dot_config/mise/config-global.toml
Due: none

feat(renovate): enable immediate updates for AI tools
  renovate.json5
Due: none

fix(makefile): escape GH_TOKEN variable in renovate target
  .pre-commit-config.yaml
  Makefile
Due: yamllint-system

feat(renovate): enable immediate updates for AI tools (#3002)
  .pre-commit-config.yaml
  Makefile
  renovate.json5
Due: yamllint-system

refactor(ci): consolidate install tests to VM only
  .github/workflows/_ci.yaml
Due: yamllint-system

refactor(ci): consolidate install tests to VM only (#3006)
  .github/workflows/_ci.yaml
Due: yamllint-system

feat: add flag to disable WSL2 Docker setup scriptfeat: add flag to disable WSL2 Docker setup script
  .chezmoi.toml.tmpl
  run_once_setup_wsl2_docker.sh.tmpl
Due: none

feat: add flag to disable WSL2 Docker setup scriptfeat: add flag to disable WSL2 Docker setup script (#3014)
  .chezmoi.toml.tmpl
  run_once_setup_wsl2_docker.sh.tmpl
Due: none

config-global.toml の更新
  dot_config/mise/config-global.toml
Due: none

config-global.toml の更新 (#3140)
  dot_config/mise/config-global.toml
Due: none

chore: install podman via apt-get
  run_once_install-packages.sh.tmpl
Due: none

chore: install podman via apt-get (#3230)
  run_once_install-packages.sh.tmpl
Due: none

feat: add podman bash completion
  dot_bash_completion.tmpl
Due: none

feat: add podman bash completion (#3231)
  dot_bash_completion.tmpl
Due: none

fix: prevent unnecessary files from begin created in the home directory
  .chezmoiignore.tmpl
  .github/renovate.json5
  Makefile
Due: none

fix: prevent unnecessary files from begin created in the home directory (#3343)
  .chezmoiignore.tmpl
  .github/renovate.json5
  Makefile
Due: none

chore: add AGENTS.md
  AGENTS.md
Due: none

chore: install bubblewrap via apt
  run_once_install-packages.sh.tmpl
Due: none

Path conditions:
  yamllint-system: any of: \.(yaml|yml)$
  make_test: any of: ^.*/.*\.sh$
