Repository air-hand/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-system, make_test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint-system
        args: ["--config-file", ".github/linters/actionlint.yml"]
  - repo: https://github.com/mrtazz/checkmake
    rev: 0.2.2
    hooks:
      - id: checkmake-system
        exclude: mkfiles/.*
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 2.7.3
    hooks:
      - id: editorconfig-checker-system
        alias: ec
  - repo: local
    hooks:
      - id: yamllint-system
        name: "YAML lint"
        language: python
        entry: yamllint
        args: ["--config-file", ".github/linters/.yaml-lint.yml"]
        types: [file, yaml]
      - id: make_lint
        name: "Make lint"
        language: system
        entry: make lint
        pass_filenames: false
      - id: make_test
        name: "Make test"
        language: system
        entry: make test
        files: '^.*/.*\.sh$'
        pass_filenames: false

fix/wsl2 nvidia container toolkit (#813)
  run_once_setup_wsl2_docker.sh.tmpl
Due: none

chore: create symlink .ssh between Windows and WSL2.
  run_once_setup_wsl2.sh.tmpl
Due: none

chore: create symlink .ssh between Windows and WSL2. (#824)
  run_once_setup_wsl2.sh.tmpl
Due: none

fix: switch tofu to terraform.
  .github/scripts/tfwrapper.sh
  .mise.toml
  aqua.yaml
  renovate.json5
Due: yamllint-system, make_test

fix/tofu to terraform (#858)
  .github/scripts/tfwrapper.sh
  .mise.toml
  aqua.yaml
  dot_config/aquaproj-aqua/aqua.yaml
  renovate.json5
  terraform/shared/version.tf
Due: yamllint-system, make_test

fix: change root terragrunt.hcl to root.hcl.
  terraform/root.hcl
  terraform/settings/terragrunt.hcl
Due: none

fix: change root terragrunt.hcl to root.hcl. (#859)
  terraform/root.hcl
  terraform/settings/terragrunt.hcl
Due: none

clean: remove duplicates that load .bash_completion.
  dot_bashrc.tmpl
Due: none

chore: add argocd completion to bash.
  dot_bash_completion.tmpl
Due: none

chore/argocd completion (#860)
  dot_bash_completion.tmpl
  dot_bashrc.tmpl
Due: none

feat: nvidia-ctk for kind.
  run_once_setup_wsl2_docker.sh.tmpl
Due: none

feat: nvidia-ctk for kind. (#857)
  run_once_setup_wsl2_docker.sh.tmpl
Due: none

chore: update `update-prs-auto-merge-enabled` action.
  .github/workflows/rebase-prs.yaml
Due: yamllint-system

chore: update `update-prs-auto-merge-enabled` action. (#861)
  .github/workflows/rebase-prs.yaml
Due: yamllint-system

chore: update rebase-pr actions.
  .github/workflows/rebase-prs.yaml
Due: yamllint-system

chore: update actions daily by dependabot.
  .github/dependabot.yml
Due: yamllint-system

chore: update actions daily by dependabot. (#867)
  .github/dependabot.yml
Due: yamllint-system

chore: adjust python version for venv.
  .mise.toml
Due: none

feat: add OpenHands setup script and alias
  dot_bashrc.tmpl
  run_once_docker_openhands.sh.tmpl
Due: none

Add Dependabot auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: yamllint-system

Update workflow to trigger on labeled event
  .github/workflows/dependabot-auto-merge.yml
Due: yamllint-system

Simplify workflow to only trigger on dependencies label
  .github/workflows/dependabot-auto-merge.yml
Due: yamllint-system

feat: add git-lfs.
  run_once_install-packages.sh.tmpl
Due: none

feat: add git-lfs. (#1069)
  run_once_install-packages.sh.tmpl
Due: none

feat: add gpg key for verify commits.
  .chezmoi.toml.tmpl
  dot_bashrc.tmpl
  dot_gitconfig.tmpl
Due: none

feat: allow commits with signs only.
  terraform/settings/branch_protection.tf
Due: none

feat/sign commit by gpg (#1093)
  .chezmoi.toml.tmpl
  dot_bashrc.tmpl
  dot_gitconfig.tmpl
  terraform/settings/branch_protection.tf
Due: none

fix: specify integration_id as GitHub Actions.
  terraform/settings/branch_protection.tf
Due: none

Specify branch ruleset s integration_id (#1100)
  terraform/settings/branch_protection.tf
Due: none

feat: enable gpg-agent.
  dot_bashrc.tmpl
  private_dot_gnupg/gpg-agent.conf
Due: none

feat: enable gpg-agent. (#1157)
  dot_bashrc.tmpl
  private_dot_gnupg/gpg-agent.conf
Due: none

fix: update aqua by itself.
  run_once_after_install_cli.sh.tmpl
Due: none

fix: update aqua-installer.
  run_once_after_install_cli.sh.tmpl
Due: none

fix: update aqua by itself. (#1156)
  run_once_after_install_cli.sh.tmpl
Due: none

feat: add bahdotsh/wrkflw.
  dot_config/aquaproj-aqua/aqua.yaml
Due: yamllint-system

feat: add bahdotsh/wrkflw. (#1176)
  dot_config/aquaproj-aqua/aqua.yaml
Due: yamllint-system

fix: remove unnecessary code.
  dot_bashrc.tmpl
Due: none

feat: reloadagent when changed gpg-agent.conf .
  run_onchange_gpg_agent_conf.sh.tmpl
Due: none

fix: specify sourceDir for test.
  .chezmoi.toml.tmpl
  .github/actions/run-install/action.yaml
  install.sh
  run_onchange_gpg_agent_conf.sh.tmpl
Due: yamllint-system
